* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

body > div {
    border: 2px dashed green;
}

.sidebar {
    grid-row: 1 / 3;

    display: grid;
    align-content: start;
    gap: 1rem;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    align-items: center;
}

.header .search {
    display: grid;
    grid-template-columns: auto 1fr;
}

.header .profile {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}
.profile-pic {
    background-color: lightgrey;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.header .greeting {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.greeting .profile-pic {
    grid-row: 1 / 3;
    align-self: center;

    width: 70px;
    height: 70px;
    border-radius: 35px;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}
.main-content .project-section {
    grid-row: 1 / 3;
}
.main-content .projects {
    margin-top: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.projects .card {
    display: grid;
}

.projects .card .toolbar {
    justify-self: end;
}

.main-content .announcements {
    margin-top: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

.main-content .trendings {
    margin-top: 1rem;

    display: grid;
    gap: .5rem;
}
.trendings .trending {
    display: grid;
    grid-template-columns: auto 1fr;
}
.trendings .trending .profile-pic {
    grid-row: 1 / 3;
}