@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --dominant-color: #0ea5e9;
    --accent-color: #eef2ff;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    filter: drop-shadow(1px 1px 1px white);
}

svg {
    width: 1.5rem;
}

body {
    font-family: 'Roboto', sans-serif;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

    background-color: var(--accent-color);
    min-height: 100vh;
}

.sidebar {
    grid-row: 1 / 3;

    display: grid;
    align-content: start;
    gap: 2rem;

    background-color: var(--dominant-color);
    padding: 1.5rem;
    width: 250px;
    color: white;
}
.sidebar svg {
    fill: white;
}
.sidebar .title {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.sidebar .title svg {
    width: 2rem;
}
.sidebar .navigation,
.sidebar .branding {
    font-size: 1rem;
    font-weight: bold;
}
.sidebar li a{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    align-items: center;

    background-color: white;
    padding: 1rem 2rem;
}
.header .search {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
}
.header .search #searchbar {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    background-color: var(--accent-color);
    max-width: 600px;
}
.header .profile {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    gap: 1.2rem;

    margin-right: 1rem;
}
.header .profile .username {
    font-weight: bold;
}
.profile-pic {
    background-color: lightgrey;
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 20px;
}
.header .greeting {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.header .greeting .profile-pic {
    grid-row: 1 / 3;
    align-self: center;

    width: 70px;
    height: 70px;
    border-radius: 35px;

    margin-right: 1rem;
}
.header .toolbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.header .toolbar button {
    background-color: var(--dominant-color);
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;

    padding: 2rem 1rem;
}
.main-content .project-section {
    grid-row: 1 / 3;
}
.main-content .projects {
    margin-top: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.projects .card {
    display: grid;
}

.projects .card .toolbar {
    justify-self: end;
}

.main-content .announcements {
    margin-top: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

.main-content .trendings {
    margin-top: 1rem;

    display: grid;
    gap: .5rem;
}
.trendings .trending {
    display: grid;
    grid-template-columns: auto 1fr;
}
.trendings .trending .profile-pic {
    grid-row: 1 / 3;
}