@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

body {
  font-family: 'Roboto', Arial, sans-serif;

  display: grid;
  grid-template: auto 1fr / 1fr 4fr;
}

svg {
  width: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

section.nav {
  grid-row: 1 / 3;

  display: flex;
  flex-direction: column;
  gap: 48px;

  padding: 1rem;
}

.nav nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav h1 {
  margin: 0;
}

section.header {
  display: grid;
  grid-template: 1fr 1fr / 3fr 2fr;
}

.header .search {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header .search #searchbar {
  flex: 1;
}

.header .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.header .greeting {
  display: grid;
  grid-template: 1fr 1fr / auto 1fr;
}

.header .greeting .profile-pic {
  grid-row: 1 / 3;
}

.header .greeting p {
  margin: 0;
}

.header .toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.main-content {
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  gap: 24px;
}

.main-content .projects {
  grid-row: 1 / 3;
}

.main-content .projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
}

.main-content .projects .cards .card .toolbar {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.main-content .announcement .container {
  display: flex;
  flex-direction: column;
}

.main-content .trending .container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main-content .trending .container .trending-user {
  display: grid;
  grid-template: 1fr 1fr / auto 1fr;
}

.main-content .trending .container .trending-user p {
  margin: 0;
}

.main-content .trending .container .trending-user .profile-pic {
  grid-row: 1 / 3;
}