@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  min-height: 100vh;

  display: grid;
  grid-template: auto 1fr / minmax(200px, 10%) 1fr;
}

svg {
  width: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

button {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #0ea5e9;
  width: 72px;
  height: 32px;
  color: white;
  border: none;
  border-radius: 16px;
}

.profile-pic {
  width: 36px;
  height: 36px;
  background: grey url('/img/cat.jpg') center;
  background-size: cover;
  border-radius: 18px;
}

section.nav {
  grid-row: 1 / 3;

  display: flex;
  flex-direction: column;
  gap: 48px;

  padding: 16px;
  background-color: #0ea5e9;
  color: white;
}

.nav svg {
  fill: white;
}

.nav nav {
  display: flex;
  flex-direction: column;
  gap: 12px;

  font-weight: bold;
}

.nav h1,
.nav a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav h1 {
  margin: 0;
  font-size: 1.2rem;
}

.nav h1 svg {
  width: 2rem;
}

section.header {
  display: grid;
  grid-template: 1fr 1.5fr / 3fr 2fr;
  gap: 12px;

  padding: 12px 32px;
  font-weight: bold;

  z-index: 1;
}

section.header,
.main-content .card,
.main-content .container {
  background-color: white;
  box-shadow: 2px 3px 4px #cbd5e1;
}

.header .search {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header .search #searchbar {
  flex: 1;

  background-color: #e2e8f0;
  border: none;
  border-radius: 12px;
  padding: 2px;
  max-width: min(600px, 100%);
}

.header .profile,
.header .toolbar {
  justify-self: end;
}

.header .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  font-size: 0.9rem;
}

.header .greeting {
  display: grid;
  grid-template: auto auto / auto 1fr;
  align-content: center;
  column-gap: 12px;

  font-size: 0.8rem;
}

.header .greeting .profile-pic {
  grid-row: 1 / 3;

  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.header .greeting .username {
  font-size: 1.2rem;
}

.header .toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main-content {
  display: grid;
  grid-template: auto 1fr / 3fr 1fr;
  gap: 16px;

  background-color: #e2e8f0;
  padding: 16px;

  font-size: 0.8rem;
}

.main-content h2 {
  font-size: 1.2rem;
}

.main-content .description,
.main-content .username {
  color: #6b7280;
}

.main-content .card,
.main-content .container {
  border-radius: 6px;
}

.main-content .projects {
  grid-row: 1 / 3;
}

.main-content .projects h3 {
  font-size: 1rem;
  margin-top: 12px;
  margin-bottom: 4px;
}

.main-content .projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 16px;
}

.main-content .projects .cards .card {
  display: flex;
  flex-direction: column;

  padding: 16px;

  border-left: 6px solid #eab308;
}

.main-content .projects .cards .card .description {
  flex: 1;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  
  margin-bottom: 12px;
}

.main-content .projects .cards .card .toolbar {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.main-content .announcement .container {
  display: flex;
  flex-direction: column;

  padding: 12px 24px;
  font-size: 0.7rem;
}

.main-content .announcement .container .content {
  border-bottom: 1px solid #cbd5e1;
  padding: 12px 0;
}

.main-content .announcement .container .content:last-child {
  border: none;
}

.main-content .announcement .container h3 {
  margin: 4px 0;
}

.main-content .announcement .container .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.main-content .trending .container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px;
}

.main-content .trending .container .trending-user {
  display: grid;
  grid-template: auto auto / auto 1fr;
  column-gap: 12px;

  font-size: 0.7rem;
}

.main-content .trending .container .trending-user .profile-pic {
  grid-row: 1 / 3;
}