@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

svg {
  width: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}